<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h1  align="center">Build A Blog</h1>

    <hr />
    <form action="/blog" method="post">
        <table>
            <tr>
                <td><label for="title">Blog Title</label></td>
                <td>
                    <input type="text" name='title' />
                </td>
            </tr>
            <tr>
                <td><label for="body">Blog Entry</label></td>
                <td>
                    <input type="text" name='body' />
                </td>
            </tr>
        </table>
        <input type="submit" value="Sumbit">
    </form>
          
            
{% endblock %}